@import 'reset.css';
@import 'fonts.css';

:root {
    --color-title: #fff;
    --color-title-accent: #111204;
    --color-text: #ffffffcc;
    --color-text-accent: #111204cc;
    --color-accent: #b9fd50;
}


.body {
    font-family: 'Outfit', sans-serif;
    line-height: 1.4;
    background: var(--color-title);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.burger-icon {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--color-accent);
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.header {
    background: url(../img/star-bg.svg) 60% 28% no-repeat, radial-gradient(circle at 50% 35%, #b7fc4f -25%, var(--color-title-accent) 25%);
    color: var(--color-title);
}

.header__top {}

.header__top-inner {
    padding: 34px 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-height: 25px;
    z-index: 11;

}

.header__button {
    max-width: 160px;
}

.header__nav {
    margin-left: auto;
    margin-right: 77px;
}

.nav {}

.nav__list {
    display: flex;
    align-items: center;
    gap: 32px;
    line-height: 1.6;
}

.nav__item {}

.nav__link {
    position: relative;
    transition: all .4s;
}

.nav__link::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: var(--color-accent);
    transition: all .4s;
}

.nav__link:hover {
    color: var(--color-accent);
}

.nav__link:hover::before {
    width: 100%;
}

.button {
    background: var(--color-accent);
    color: var(--color-title-accent);
    font-weight: 500;
    border-radius: 8px;
    padding: 17px 15px;
    width: 100%;
    max-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--white {
    border: 1px solid var(--color-title-accent);
    background: transparent;
    display: flex;
    gap: 15px;
}


.header__hero {
    padding: 120px 0;
}

.hero {}


.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-weight: 700;
    font-size: 96px;
    line-height: 1.07;
    text-transform: capitalize;
    letter-spacing: -0.03em;
    text-align: center;
    max-width: 983px;
    margin-bottom: 45px;
}

.hero__title span {
    color: var(--color-accent);
    font-weight: 800;
    font-style: italic;
}

.title {}

.hero__text {
    font-size: 18px;
    text-align: center;
    color: var(--color-text);
    max-width: 522px;
    margin-bottom: 42px;
}

.hero__button {
    max-width: 150px;
    margin-bottom: 69px;
}

.hero__brands-text {
    color: var(--color-title);
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
    text-transform: uppercase;
    position: relative;
}

.hero__brands-text::before,
.hero__brands-text::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-accent);
    width: 100%;
    max-width: 50px;
    height: 2px;
}

.hero__brands-text::before {
    left: -90px;
}

.hero__brands-text::after {
    right: -90px;
}

.hero__brands-list {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
    background: #222;
    border-radius: 22px;
    padding: 33px 74px;
    flex-wrap: wrap;
}

.hero__brands-item {}

.hero__brands-link {}

.hero__brands-link path {
    transition: all .4s;
}

.hero__brands-link:hover path {
    fill: var(--color-accent);
}


/* =================================================================== */
.main__how {
    padding-bottom: 200px;
}

.how {
    background: var(--color-title-accent);
    color: var(--color-title);
}

.how__inner {
    padding: 0 50px;
}

.how__top {
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr 0.8fr;
    grid-template-rows: repeat(3, auto);
    gap: 0 30px;
    margin-bottom: 130px;
}

.how__subtitle {
    grid-column: 1;
    text-transform: uppercase;
    color: var(--color-accent);
    margin-bottom: 16px;
}

.how__title {
    grid-column: 1 / 3;
    font-weight: 600;
    font-size: 54px;
    line-height: 1.07;
    letter-spacing: -0.01em;
    color: #fff;
    max-width: 606px;
}


.how__text {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 36px;
    color: var(--color-text);
    max-width: 500px;
    grid-column: 3 / 5;
}

.how__button {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    max-width: 150px;
}

.how__cards {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.how__cards-item {}

.how__cards-item span {}

.how__cards-img {
    background: var(--color-accent);
    max-width: 93px;
    max-height: 93px;
    border-radius: 50%;
    padding: 24px;
    margin-bottom: 40px;

    position: relative;
}

.how__cards-img img {
    width: 100%;
}

.how__cards-img span {
    position: absolute;
    display: block;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
    background: url(../img/arrow.svg) no-repeat center;
    background-size: contain;
    width: 254px;
    height: 16px;

}

.how__cards-title {
    font-weight: 500;
    font-size: 26px;
    letter-spacing: -0.01em;
    margin-bottom: 21px;
}

.how__cards-text {
    font-weight: 300;
    font-size: 18px;
    color: var(--color-text);
    max-width: 283px;
}

/* ========================================================= */

.main_portfolio {
    padding: 80px 0 85px;
}

.portfolio {}

.portfolio__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.21;
    letter-spacing: -0.06em;
    text-align: center;
    color: var(--color-title-accent);
    margin-bottom: 15px;
}

.portfolio__text {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    max-width: 462px;
    color: var(--color-text-accent);
    margin-bottom: 40px;
}

.portfolio__button {
    max-width: 184px;
    margin-bottom: 55px;
}



.portfolio__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
    margin-right: calc(100% -100vw);

}

.portfolio__item {
    max-width: 300px;

}

.portfolio__item img {
    width: 100%;

}

.portfolio__item:nth-child(odd) {
    transform: translateY(25%);
}

.main__capabilities {
    padding: 90px 120px;
}

.capabilities {
    background: var(--color-title-accent);
    color: var(--color-title);
}

.capabilities__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capabilities__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capabilities__subtitle {
    grid-column: 1;
    text-transform: uppercase;
    color: var(--color-accent);
    text-align: center;
    margin-bottom: 16px;
}

.capabilities__title {
    font-weight: 600;
    font-size: 54px;
    line-height: 1.07;
    letter-spacing: -0.01em;
    color: var(--color-title);
    max-width: 606px;
    margin-bottom: 48px;

}

.capabilities__category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px 16px;
    margin-bottom: 50px;
}

.capabilities__category-item {
    background: var(--color-accent);
    padding: 17px 27px;
    border-radius: 8px;
    color: var(--color-title-accent);
    font-weight: 300;
    font-size: 17px;
    line-height: 1.48;

}

.capabilities__button {
    display: flex;
    gap: 12px;
    margin-bottom: 130px;
}

.capabilities__content {
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr 0.8fr;
    grid-template-rows: repeat(3, auto);
    gap: 0 30px;
    margin-bottom: 100px;
    align-content: end;
}

.capabilities__content-subtitle {
    grid-column: 1;
    text-transform: uppercase;
    color: var(--color-accent);
    margin-bottom: 16px;
}

.capabilities__content__title {
    grid-column: 1 / 3;
    font-weight: 600;
    font-size: 54px;
    line-height: 1.07;
    letter-spacing: -0.01em;
    color: var(--color-title);
    max-width: 606px;
}

.capabilities__content-text {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 36px;
    color: var(--color-text);
    max-width: 500px;
    grid-column: 3 / 5;
}

.capabilities__content-button {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    max-width: 150px;
}

.capabilities__cards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.capabilities__cards-item {
    padding: 30px;
    /* border: 1px solid rgba(185, 253, 80, .09); */
}

.capabilities__cards-item:nth-child(1),
.capabilities__cards-item:nth-child(2),
.capabilities__cards-item:nth-child(3) {}

.capabilities__cards-item:nth-child(4),
.capabilities__cards-item:nth-child(5),
.capabilities__cards-item:nth-child(6) {
    border-top: 2px solid rgba(185, 253, 80, .09);
    border-bottom: 2px solid rgba(185, 253, 80, .09);

}

.capabilities__cards-item:nth-child(2),
.capabilities__cards-item:nth-child(5),
.capabilities__cards-item:nth-child(8) {
    border-left: 2px solid rgba(185, 253, 80, .09);
    border-right: 2px solid rgba(185, 253, 80, .09);
}

.capabilities__card-img {
    display: block;
    margin-bottom: 24px;
    max-width: 40px;
}

.capabilities__card-img img {
    width: 100%;
}

.capabilities__card-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: var(--color-title);
    margin-bottom: 12px;
}

.capabilities__card-text {
    line-height: 1.44;
    letter-spacing: -0.01em;
    color: #9593a4;
    min-height: 119px;
}



@media (max-width: 1200px) {
    .header__nav {
        margin: 0;
    }

    .hero__brands-list {
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 1100px) {
    .how__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .how__text {
        margin-bottom: 0;
    }

    .how__cards-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .how__cards-img span {
        display: none;
    }
}

@media (max-width: 900px) {
    .burger-icon {
        display: flex;
        margin-top: 8px;
    }


    .header {
        background: url(../img/star-bg.svg) 60% 28% no-repeat, radial-gradient(circle at 50% 27%, #b7fc4f -45%, var(--color-title-accent) 25%);
        color: var(--color-title);
    }



    .hero__title {
        font-size: 10vw;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header__nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        padding: 26vh 15px 30px;
        font-size: 24px;
        background: var(--color-title-accent);

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .body--opened-menu .header__nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }


    .header__button {
        display: none;
    }

    .how__cards {
        gap: 30px;
        flex-direction: column;
    }


    .portfolio__list {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media (max-width: 600px) {

    .main__how {
        padding-bottom: 80px;
    }

    .how__top {
        margin-bottom: 80px;
    }

    .how__cards-img {
        margin-bottom: 20px;
    }

    .how__title {
        font-size: 10vw;
    }

    .how__text {
        font-size: 5vw;
    }

    .portfolio__title {
        font-size: 10vw;
    }


}


@media (max-width: 450px) {

    .header__hero {
        padding: 80px 0;
    }

    .header {
        background: url(../img/star-bg.svg) 60% 28% no-repeat, radial-gradient(circle at 50% 20%, #b7fc4f -75%, var(--color-title-accent) 20%);
        color: var(--color-title);
    }

    .hero__button {
        margin-bottom: 30px;
    }

    .hero__brands-text::before,
    .hero__brands-text::after {
        display: none;
    }

    .hero__brands-link svg {
        height: 30px;
    }


}