body{
    background: #6f6d6d;
    color: #fff;
}
.block{
    max-width: 1000px;
    min-height: 100px;
    background: #fff;
    border-radius: 15px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    right: 50px;
}

.ball{
    width: 100px;
    height: 100px;
    background: #f63f3f;
    border-radius: 50px;
    position: absolute;
    top: -50%;
    left: 20%;
}